<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered-title">Reporte de Carga de Trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let data of reportData; let i = index" class="chart-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ data.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ data.puesto }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="chart-wrapper">
          <canvas [id]="'doughnut-canvas-' + i"></canvas>
        </div>
        <div class="chart-wrapper">
          <canvas [id]="'bar-canvas-' + i"></canvas>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="incidencias-terminadas">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Incidencias Terminadas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li *ngFor="let incidencia of incidenciasTerminadas">
            {{ incidencia.ct_id_incidencia }} - {{ incidencia.ct_descripcion_incidencia }}
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
