<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered-title">Incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="incidencias-content">
  <ion-button class="custom-button" shape="round" (click)="navegar_incidencias()">Volver</ion-button>
  <ion-card *ngIf="incidencia" class="incidencia-card">
    <ion-card-header>
      <ion-card-title>Título: {{ incidencia.ct_titulo_incidencia }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="incidencia-details">
        <p><strong>Descripción:</strong> {{ incidencia.ct_descripcion_incidencia }}</p>
        <p><strong>Lugar:</strong> {{ incidencia.ct_lugar }}</p>
        <p><strong>Estado:</strong> {{ incidencia.ct_descripcion_estado }}</p>
        <p><strong>Usuario Registro:</strong> {{ incidencia.ct_nombre_completo }}</p>
        <div *ngIf="imagenes.length > 0">
          <p><strong>Imágenes:</strong></p>
          <div *ngFor="let imagen of imagenes">
            <img [src]="'data:image/jpeg;base64,' + imagen" alt="Imagen de la incidencia" />
          </div>
        </div>
      </div>
    </ion-card-content>
    <ion-button class="custom-button" (click)="navegar_crear_diagnosticos(incidencia.ct_id_incidencia)">Registrar Diagnóstico</ion-button>
    <ion-button class="custom-button" (click)="navegar_camibar_estado_incidencias(incidencia.ct_id_incidencia)">Cambiar estado</ion-button>
    <ion-button class="custom-button" (click)="navegar_asingacion_incidencias(incidencia.ct_id_incidencia)">Asignar Inicdencias</ion-button>
  </ion-card>

  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-title>Diagnósticos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card-content>
      <div *ngFor="let diagnostico of diagnosticos" class="diagnostico-card">
        <ion-item>
          <ion-label><strong>Fecha de diagnóstico:</strong></ion-label>
          <ion-text>{{ diagnostico.fecha_formateada }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label><strong>Diagnóstico:</strong></ion-label>
          <ion-text>{{ diagnostico.ct_diagnostico }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label><strong>Tiempo estimado de reparación:</strong></ion-label>
          <ion-text>{{ diagnostico.cn_tiempo_estimado_reparacion }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label><strong>Observaciones:</strong></ion-label>
          <ion-text>{{ diagnostico.ct_observaciones }}</ion-text>
        </ion-item>
        <div *ngIf="diagnostico.imagenes.length > 0">
          <p><strong>Imágenes:</strong></p>
          <div *ngFor="let imagen of diagnostico.imagenes">
            <img [src]="'data:image/jpeg;base64,' + imagen" alt="Imagen del diagnóstico" />
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
