.incidencias-content {
    padding: 20px;
  }
  
  .incidencia-item {
    border-bottom: 1px solid #ccc;
  }
  
  .incidencia-item ion-label {
    display: block;
  }
  
  .incidencia-item h2 {
    margin-bottom: 5px;
    color: #007bff;
  }
  
  .incidencia-item p {
    margin: 5px 0;
  }
  
  