<ion-header>
  <ion-toolbar>
    <ion-title>Incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="incidencias-content">
  <ion-button shape="round" (click)="navigateToIncidencias()">Volver</ion-button>
  <ion-card *ngFor="let incidencia of incidencias" class="incidencia-card">
    <ion-card-header>
      <ion-card-title>{{ incidencia.ct_titulo_incidencia }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="incidencia-details">
        <p><strong>Descripción:</strong> {{ incidencia.ct_descripcion_incidencia }}</p>
        <p><strong>Lugar:</strong> {{ incidencia.ct_lugar }}</p>
        <p><strong>Estado:</strong> {{ incidencia.cn_id_estado }}</p>
        <p><strong>Usuario Registro:</strong> {{ incidencia.cn_id_usuario_registro }}</p>
        <div *ngIf="incidencia.cb_imagen">
          <p><strong>Imagen:</strong></p>
          <img [src]="'data:image/jpeg;base64,' + incidencia.cb_imagen" alt="Imagen de la incidencia" />
        </div>
      </div>
    </ion-card-content>
    <ion-button (click)="navigateToCreateDiagnosticos(incidencia.ct_id_incidencia)">Registrar Diagnóstico</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Fecha de diagnóstico</th>
              <th>Diagnóstico</th>
              <th>Tiempo estimado de reparación</th>
              <th>Observaciones</th>
              <th>ID Incidencia</th>
              <th>ID Usuario</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let diagnostico of diagnosticos">
              <td>{{ diagnostico.cf_fecha_hora_diagnostico }}</td>
              <td>{{ diagnostico.ct_diagnostico }}</td>
              <td>{{ diagnostico.cn_tiempo_estimado_reparacion }}</td>
              <td>{{ diagnostico.ct_observaciones }}</td>
              <td>{{ diagnostico.ct_id_incidencia }}</td>
              <td>{{ diagnostico.cn_id_usuario }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
