<ion-card>
  <ion-card-header>
    <ion-card-title>Registrar Incidencia</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button shape="round" (click)="navigateToIncidencias()">Volver</ion-button>
    <form [formGroup]="incidenciaForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Título de la incidencia</ion-label>
        <ion-input type="text" formControlName="ct_titulo_incidencia" id="ct_titulo_incidencia"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción de la incidencia</ion-label>
        <ion-textarea formControlName="ct_descripcion_incidencia" id="ct_descripcion_incidencia"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar</ion-label>
        <ion-input type="text" formControlName="ct_lugar" id="ct_lugar"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">ID de Usuario Registro</ion-label>
        <ion-input type="text" formControlName="cn_id_usuario_registro" id="cn_id_usuario_registro" [value]="1"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!incidenciaForm.valid">Registrar</ion-button>
    </form>
  </ion-card-content>
</ion-card>
