<!-- src/app/ver-incidencias/ver-incidencias.component.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ver Incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let incidencia of incidencias" class="incidencia-card">
      <ion-card-header>
        <ion-card-title>{{ incidencia.ct_titulo_incidencia }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ incidencia.ct_descripcion_incidencia }}</p>
        <ion-button (click)="verResolucion(incidencia.ct_id_incidencia)">Ver Resolución</ion-button>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
