.centered-title {
    text-align: center;
    width: 100%;
  }
  
  ion-content {
    ion-list {
      padding: 16px;
    }
  }
  
  ion-footer {
    padding: 16px;
  }
  .hidden-item {
    display: none;
  }
  