<ion-header>
  <ion-toolbar>
    <ion-title>Asignar Técnicos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="asignarTecnicos()">
    <ion-list>
      <ion-item *ngFor="let tecnico of tecnicos">
        <ion-label>{{ tecnico.ct_nombre_completo }}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="tecnico.seleccionado" name="tecnico-{{ tecnico.cn_id_usuario }}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">Asignar</ion-button>
  </form>
</ion-content>
