ion-grid {
    padding: 0;
  }
  
  .header-col {
    font-weight: bold;
    text-align: center;
  }
  
  ion-row {
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
  }
  
  ion-button {
    padding: 0;
  }
  
  ion-icon {
    font-size: 1.2em;
  }
  